*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color:whitesmoke;
}
body{
    background-image: url(img/hacking.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}
ul{
    text-align: center;
    list-style: none;
}
nav a{
    text-decoration: none;
    color:inherit;
    font-size:20px;
}
nav li{
    display:inline-block;
    border: 1px solid black;
    width: 220px;
    background: grey;
    margin:-2px;
    text-align: center;
}
nav li:hover{
    background-color: whitesmoke;
    color:grey;
}
