body{
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-left:28%;
    margin-right: 20%;
    margin-top: -17px;
}
ul{
    list-style:none;
    
}
li{
    background-color: crimson;
    color:white;
    float:left;
    width: 100px;
    text-align: center;
    /* margin-right: 10px; */
    padding:0px 4px;
    border:2px solid coral;
}
a{
    text-decoration: none;
    color:white;
    padding:0px 4px;
}
li:hover, a:hover{
    color:crimson;
    background-color: coral;
    border-color: crimson;
}