body{
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    color: grey;
    margin:50px 0px;
    display: block;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 0 20px whitesmoke;
}
.fotos{
    width: 100%;
    margin: 0 auto;
}
.container:after{
    /*Para que el contenedor muestre elementos aunque
    estos sean flotantes*/
    content:"";
    display: block;
    height: 0px;
    clear: both;
}
.container {
    width: 90%;
    margin:0 9%;
}
/*Estructura de cada componente de la galeria (imagen + descripción)*/
.container div{
    width: 28%;
    height: auto;
    display: inline;
    float: left;
    margin:0% 3% 0% 0%;
    padding:0px;
}
.container div img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #666;
    border: 5px solid #fff;
}
/*Estructura de la descripción, por defecto, que no se muestre*/
.container div img~span{
    width: 100%;
    display: block;
    opacity:0;
    margin:0;
    padding:2px 5px;
    color:#fff;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px #666;
    text-align: center;
}
/*Se muestra la descripción al posicionar el cursor encima de la imagen*/
.container div img:hover+span{
    opacity: 1;
}
/*Se especificar el comportamiento que tendrán las imágenes al posicionar el 
cursor encima del contenedor*/
.container:hover div{
    opacity: 0.2;
    transform: scale(0.7);
    transition:2s;
}
/*Se especifica el comportamiento que tendra la imagen seleccionada*/
.container:hover div:hover{
    opacity: 1;
    transform: scale(1);

}